body {
  background-color: #cee9eb;
}

.container {
  background-color: rgba(255, 255, 255, 0.80);
  border-radius: 1%;
}

.jumbotron {
  background-color: #829ea0;
  color: #f3feff;
  padding: 48px 100px;
  font-family: 'Delius', cursive;
}

h2, h3 {
  text-align: center;
  color: #65532c;
}

#centerbutton {
  margin-left: 42%;
}

.choice {
  margin-bottom: 30px;
  text-align: center;
}

label > p {
  font-family: fantasy;
  font-size: 16px;
  text-align: center;
}

.btn {
  background-color: #998048;
  border-color: #65532c;
}

.btn:hover {
  background-color: #65532c;
  border-color:#998048;
}

.col-md-4{
  padding: 10px 0;
  padding-left: 20px;
}
div.radio:first-of-type{
  /*padding-top: 0;*/
  margin-top: -5px;
  /*background-color: red;*/
}

#show-receipt {
  display: none;
}
